@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    font-family: var(--font-trajan), sans-serif;
  }
}
